.wrapper {
    display: flex;
    overflow: auto;
}
.resultsWrapper {
    margin-right: 15px;
}

#wrapper_calcs_info {
    display: inline-block;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}