{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <a href="/">Go Home</a><br>
        <button data-toggle="collapse" data-target="#users" class="btn btn-secondary">Total amount of users: {{ users.count() }}</button>
        <div id="users" class="collapse">
            {{ users.all() }}
        </div>
        <button data-toggle="collapse" data-target="#usersLatestVisit" class="btn btn-secondary">Users after latest_visit</button>
        <div id="usersLatestVisit" class="collapse">
            {{ User.query.order_by(User.latest_visit.desc()).all() }}
        </div>
        <button data-toggle="collapse" data-target="#usersButHome" class="btn btn-secondary">Users but not home: {{ User.query.filter(User.latest_url_visited != "/").count() }}</button>
        <div id="usersButHome" class="collapse">
            {{ User.query.filter(User.latest_url_visited != "/").all() }}
        </div>
        <p>Total amount of Calculations: {{ calc_count }}</p>
    </div>
    
    {% for user in users %}
        <div class="container">
            <h1>{{ user.ip }} ({{ user.Calculations|length }})</h1>
            <h2>Days since First Visit: {{ (now - user.first_visit).days }}</h2>
            {% for calc in user.Calculations %}
                <button data-toggle="collapse" data-target="#calc{{ calc.id }}">Calculation {{ calc.id }}: {{ calc.time }}</button>
                <div id="calc{{ calc.id }}" class="collapse">
                    Calculation {{ calc.id }} <br>
                    Date calculated: {{ calc.time }} <br><br>
                    {{ json.loads(calc.results) }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock content %}
