{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

	<header>
		<h1 id="title">Einsteinfessor</h1>
		<h3>- få svar til <a style="color: inherit;" href="https://www.matematikfessor.dk/">Matematikfessor</a> lektier</h3>
	</header>

	<p style="text-align:center;font-size:25px;">
		<strong>EINSTEINFESSOR VIRKER IKKE MERE...</strong><br>
		Matematikfessor har desværre fikset det trick vi udnyttede til at få Einsteinfessor til at virke.<br>
		Siden vil derfor lukkes til februar 2022, grundet unødvendige omkostninger.<br>
		Vi vil fortsat være på vagt efter nye sårbarheder og vil genåbne, hvis sådan en findes. Men indtil da:<br>
		Tak for nu - Villads fra Einsteinfessor<br>
		<img src="static/images/rip_einsteinfessor.png" alt="Rip Einsteinfessor" style="height:500px;"><br>
		<a href="mailto:villads111@gmail.com">Kontakt via mail</a>
	</p>
{% endblock content %}
